.main-index {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  img {
    padding: 3vw;
  }

  .cartas {
    display: flex;
    flex-wrap: nowrap;
    .card {
      background-color: $gris;
      h2 {
        font-family: sans-serif;
        &:hover {
          color: $coral;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .main-index {
    .cartas {
      display: flex;
      flex-direction: column;
      h2 {
        &:hover {
          background-color: $violeta;
        }
      }
    }
  }
}
